# Dependencies
node_modules/

# pnpm
.pnpm-store/
.pnpm-debug.log*

# Build outputs
dist/
release/

# Cache
.turbo/
.vite/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.swo
*~

# Temporary files
tmp/
temp/
*.tmp

# TypeScript
*.tsbuildinfo

# Optional
.pnpm-lock.yaml.bak


.idea

# 실제 I/O 테스트를 위한 데이터
test-data/


# swift project


apps/desktop/swift/.build/
apps/desktop/swift/Packages
apps/desktop/swift/.swiftpm/
