@import 'tailwindcss';
:root {
  color-scheme: dark;
}

html,
body {
  @apply bg-neutral-950 text-white h-screen w-screen;
}

#root {
  @apply h-full w-full flex flex-col;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-400/10;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-corner {
  background: transparent;
}
